<!DOCTYPE html>
<html lang="en">
<head>
    <title>More Recipes</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="assets/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="assets/stylesheets/style.css">
</head>
<body>
<!-- Add recipe modal -->
<div class="modal" id="add-recipe" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Recipe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" method="post" action="#">
                    <div class="form-group">
                        <input class="form-control" placeholder="Recipe Title">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Description" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="file">
                    </div>
                    <button class="btn-secondary btn">Add</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit recipe modal -->
<div class="modal" id="edit-recipe" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Recipe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" method="post" action="#">
                    <div class="form-group">
                        <input class="form-control" placeholder="Recipe Title" value="Aenean nec odio in neque mollis">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Description" rows="5">Aenean lacinia eros a lacus molestie aliquet. Aenean nec odio in neque mollis porta congue pharetra risus. Quisque imperdiet suscipit nisi, et euismod lectus viverra in. Donec ultrices erat rutrum velit rhoncus egestas. Donec eu dolor eros. Vivamus nisl justo, scelerisque id tristique eget, dictum eu mi. Etiam vehicula eros et tellus pellentesque consectetur. Pellentesque eget arcu quis massa viverra cursus. Aenean nec dolor et nunc consectetur tincidunt quis nec sem. Nunc lectus ipsum, hendrerit eget adipiscing nec, accumsan a lectus. Nam risus leo, commodo in interdum a, accumsan a sem. Aliquam erat volutpat. Nulla facilisi.</textarea>
                    </div>
                    <div class="form-group">
                        <img src="assets/images/image1.jpg" class="img-responsive" width="100%"> <br><br>
                        <input type="file">
                    </div>
                    <button class="btn-secondary btn">Edit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Preview recipe modal -->
<div class="modal" id="preview-recipe" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Preview Recipe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data">
                    <div class="form-group">
                        <strong>Recipe Title</strong>
                        <p>Aenean nec odio in neque mollis</p>
                    </div>
                    <div class="form-group">
                        <strong>Description</strong>
                        <p>Aenean lacinia eros a lacus molestie aliquet. Aenean nec odio in neque mollis porta congue
                            pharetra risus. Quisque imperdiet suscipit nisi, et euismod lectus viverra in. Donec
                            ultrices erat rutrum velit rhoncus egestas. Donec eu dolor eros. Vivamus nisl justo,
                            scelerisque id tristique eget, dictum eu mi. Etiam vehicula eros et tellus pellentesque
                            consectetur. Pellentesque eget arcu quis massa viverra cursus. Aenean nec dolor et nunc
                            consectetur tincidunt quis nec sem. Nunc lectus ipsum, hendrerit eget adipiscing nec,
                            accumsan a lectus. Nam risus leo, commodo in interdum a, accumsan a sem. Aliquam erat
                            volutpat. Nulla facilisi.</p>
                    </div>
                    <div class="form-group">
                        <strong>Picture</strong>
                        <img src="assets/images/image1.jpg" class="img-responsive" width="100%">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Preview recipe modal -->
<div class="modal" id="delete-recipe" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Preview Recipe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="#">
                    <p>Are you sure you want to delete recipe?</p>
                    <button class="btn btn-danger">Delete</button>
                    <button class="btn btn-secondary" data-dismiss="modal">No</button>
                </form>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="recipes.html">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="recipes.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Welcome, User</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="my_recipes.html">My Recipes</a>
                    <a class="dropdown-item" href="favorite.html">Favorite</a>
                    <a class="dropdown-item" href="profile.html">Profile</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index.html">Logout <i class="fa fa-sign-out"></i> </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<main role="main" class="container">

    <div class="text-muted">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <h1>My Recipes</h1>

                    <a href="#" class="js-add-recipe btn btn-secondary">Add Recipe</a> <br><br>

                    <table class="table table-responsive table-hover table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th>Recipe Title</th>
                            <th>Description</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Aenean nec odio in neque mollis</td>
                            <td>
                                Aenean lacinia eros a lacus molestie aliquet. Aenean nec odio in neque mollis porta
                                congue pharetra risus. Quisque imperdiet suscipit nisi, et euismod lectus viverra in.
                                Donec ultrices erat rutrum velit rhoncus egestas. Donec eu dolor eros. Vivamus nisl
                                justo...
                            </td>
                            <td>
                                <a href="#" class="js-preview-recipe">
                                    <i class="fa fa-folder-open-o"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="js-edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="js-trash">
                                    <i class="fa fa-trash text-danger"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Aenean nec odio in neque mollis</td>
                            <td>
                                Aenean lacinia eros a lacus molestie aliquet. Aenean nec odio in neque mollis porta
                                congue pharetra risus. Quisque imperdiet suscipit nisi, et euismod lectus viverra in.
                                Donec ultrices erat rutrum velit rhoncus egestas. Donec eu dolor eros. Vivamus nisl
                                justo...
                            </td>
                            <td>
                                <a href="#" class="js-preview-recipe">
                                    <i class="fa fa-folder-open-o"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="js-edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="js-trash">
                                    <i class="fa fa-trash text-danger"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Aenean nec odio in neque mollis</td>
                            <td>
                                Aenean lacinia eros a lacus molestie aliquet. Aenean nec odio in neque mollis porta
                                congue pharetra risus. Quisque imperdiet suscipit nisi, et euismod lectus viverra in.
                                Donec ultrices erat rutrum velit rhoncus egestas. Donec eu dolor eros. Vivamus nisl
                                justo...
                            </td>
                            <td>
                                <a href="#" class="js-preview-recipe">
                                    <i class="fa fa-folder-open-o"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="js-edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="js-trash">
                                    <i class="fa fa-trash text-danger"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Aenean nec odio in neque mollis</td>
                            <td>
                                Aenean lacinia eros a lacus molestie aliquet. Aenean nec odio in neque mollis porta
                                congue pharetra risus. Quisque imperdiet suscipit nisi, et euismod lectus viverra in.
                                Donec ultrices erat rutrum velit rhoncus egestas. Donec eu dolor eros. Vivamus nisl
                                justo...
                            </td>
                            <td>
                                <a href="#" class="js-preview-recipe">
                                    <i class="fa fa-folder-open-o"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="js-edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="js-trash">
                                    <i class="fa fa-trash text-danger"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Aenean nec odio in neque mollis</td>
                            <td>
                                Aenean lacinia eros a lacus molestie aliquet. Aenean nec odio in neque mollis porta
                                congue pharetra risus. Quisque imperdiet suscipit nisi, et euismod lectus viverra in.
                                Donec ultrices erat rutrum velit rhoncus egestas. Donec eu dolor eros. Vivamus nisl
                                justo...
                            </td>
                            <td>
                                <a href="#" class="js-preview-recipe">
                                    <i class="fa fa-folder-open-o"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="js-edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="js-trash">
                                    <i class="fa fa-trash text-danger"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Aenean nec odio in neque mollis</td>
                            <td>
                                Aenean lacinia eros a lacus molestie aliquet. Aenean nec odio in neque mollis porta
                                congue pharetra risus. Quisque imperdiet suscipit nisi, et euismod lectus viverra in.
                                Donec ultrices erat rutrum velit rhoncus egestas. Donec eu dolor eros. Vivamus nisl
                                justo...
                            </td>
                            <td>
                                <a href="#" class="js-preview-recipe">
                                    <i class="fa fa-folder-open-o"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="js-edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="js-trash">
                                    <i class="fa fa-trash text-danger"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Aenean nec odio in neque mollis</td>
                            <td>
                                Aenean lacinia eros a lacus molestie aliquet. Aenean nec odio in neque mollis porta
                                congue pharetra risus. Quisque imperdiet suscipit nisi, et euismod lectus viverra in.
                                Donec ultrices erat rutrum velit rhoncus egestas. Donec eu dolor eros. Vivamus nisl
                                justo...
                            </td>
                            <td>
                                <a href="#" class="js-preview-recipe">
                                    <i class="fa fa-folder-open-o"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="js-edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="js-trash">
                                    <i class="fa fa-trash text-danger"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Aenean nec odio in neque mollis</td>
                            <td>
                                Aenean lacinia eros a lacus molestie aliquet. Aenean nec odio in neque mollis porta
                                congue pharetra risus. Quisque imperdiet suscipit nisi, et euismod lectus viverra in.
                                Donec ultrices erat rutrum velit rhoncus egestas. Donec eu dolor eros. Vivamus nisl
                                justo...
                            </td>
                            <td>
                                <a href="#" class="js-preview-recipe">
                                    <i class="fa fa-folder-open-o"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="js-edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="js-trash">
                                    <i class="fa fa-trash text-danger"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Aenean nec odio in neque mollis</td>
                            <td>
                                Aenean lacinia eros a lacus molestie aliquet. Aenean nec odio in neque mollis porta
                                congue pharetra risus. Quisque imperdiet suscipit nisi, et euismod lectus viverra in.
                                Donec ultrices erat rutrum velit rhoncus egestas. Donec eu dolor eros. Vivamus nisl
                                justo...
                            </td>
                            <td>
                                <a href="#" class="js-preview-recipe">
                                    <i class="fa fa-folder-open-o"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="js-edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="js-trash">
                                    <i class="fa fa-trash text-danger"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Aenean nec odio in neque mollis</td>
                            <td>
                                Aenean lacinia eros a lacus molestie aliquet. Aenean nec odio in neque mollis porta
                                congue pharetra risus. Quisque imperdiet suscipit nisi, et euismod lectus viverra in.
                                Donec ultrices erat rutrum velit rhoncus egestas. Donec eu dolor eros. Vivamus nisl
                                justo...
                            </td>
                            <td>
                                <a href="#" class="js-preview-recipe">
                                    <i class="fa fa-folder-open-o"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="js-edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="js-trash">
                                    <i class="fa fa-trash text-danger"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <nav aria-label="Page navigation example" class="pull-right">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-double-left"></i>
                            </a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-double-right"></i>
                            </a></li>
                        </ul>
                    </nav>
                </div>


            </div>

        </div>
    </div>

</main><!-- /.container -->

<footer class="text-muted">
    <div class="container">
        <p align="center">LifeandJoy Applications</p>
    </div>
</footer>

<script src="assets/javascripts/jquery-3.2.1.min.js"></script>
<script src="assets/javascripts/popper.min.js"></script>
<script src="assets/javascripts/bootstrap.min.js"></script>
<script src="assets/javascripts/scripts.js"></script>
</body>
</html>