<!DOCTYPE html>
<html lang="en">
<head>
    <title>More Recipes</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="assets/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="assets/stylesheets/style.css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="recipes.html">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="recipes.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Welcome, User</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="my_recipes.html">My Recipes</a>
                    <a class="dropdown-item" href="favorite.html">Favorite</a>
                    <a class="dropdown-item" href="profile.html">Profile</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index.html">Logout <i class="fa fa-sign-out"></i> </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<main role="main" class="container">

    <div class="album text-muted">
        <div class="container">

            <div class="row">
                <div class="col-8">
                    <h1>Recipe</h1>

                    <div class="row">
                        <div class="col-12">
                            <h2>Lorem ipsum dolor sit amet</h2>

                            <div class="card details">
                                <img src="assets/images/image1.jpg" class="img-responsive" alt="Card image cap">
                                <p>Lorem ipsum dolor sit amet</p>
                                <p class="card-text">Maecenas luctus hendrerit mauris, a pellentesque tortor condimentum
                                    id. Cras sed turpis ut elit dictum ornare non sed nisl. Cras ornare aliquet mattis.
                                    Etiam quis neque arcu. Pellentesque ornare augue velit. Etiam quis est orci. Etiam
                                    fringilla varius risus, sit amet aliquam erat vulputate vel. Aliquam erat volutpat.
                                    Sed fermentum nisi a nibh ultricies vel commodo nibh bibendum. Nunc feugiat varius
                                    ultricies. Maecenas sit amet purus sed magna congue dignissim semper vitae nibh. Nam
                                    a quam diam, in lobortis purus. Suspendisse augue nunc, feugiat quis interdum in,
                                    viverra id urna. Ut pellentesque justo at nisl ultrices a interdum turpis sodales.
                                    Integer feugiat dolor id massa convallis dictum. Maecenas lobortis, metus eu
                                    dignissim fringilla, arcu nisl luctus purus, ut bibendum purus quam nec enim.</p>
                                <p class="card-text">Maecenas luctus hendrerit mauris, a pellentesque tortor condimentum
                                    id. Cras sed turpis ut elit dictum ornare non sed nisl. Cras ornare aliquet mattis.
                                    Etiam quis neque arcu. Pellentesque ornare augue velit. Etiam quis est orci. Etiam
                                    fringilla varius risus.</p>

                                <hr>

                                <div class="reviews-comments">
                                    <p>
                                        <span>
                                            <a href="#">
                                                <i class="fa fa-heart-o"></i> <span>Favorite</span>
                                            </a>
                                        </span>
                                        <span>
                                            <a href="#">
                                                <i class="fa fa-thumbs-o-up"></i> <span>34k</span>
                                            </a>
                                        </span>
                                        <span>
                                            <a href="#">
                                                <i class="fa fa-thumbs-o-down"></i> <span>2k</span>
                                            </a>
                                        </span>
                                        <span>50 reviews</span>
                                        <span><a href="#" class="js-write-review">Write review</a> </span>
                                    </p>

                                    <div id="form-review">
                                        <form>
                                            <div class="form-group">
                                                <textarea class="form-control" rows="5" placeholder="Write a Review"></textarea>
                                            </div>
                                            <button class="btn btn-secondary">Save</button>
                                            <button class="btn btn-link js-close">Close</button>
                                        </form>
                                    </div>
                                </div>

                                <hr>

                                <div class="reviews">
                                    <h5>Reviews</h5><br>

                                    <div>
                                        <img src="assets/images/man.jpg" class="img-circle"> John Doe
                                    </div>
                                    <div class="card-text">
                                        Quisque venenatis velit ut nisi tincidunt venenatis. Aliquam placerat, dolor at
                                        pulvinar placerat, velit ligula iaculis dolor, quis sagittis nisi nisl sed
                                        nulla. Sed vulputate, libero vel pulvinar pretium, mauris felis laoreet arcu,
                                        sit amet laoreet nisl ante non purus. Pellentesque cursus, libero quis elementum
                                        aliquam, elit enim tempus ipsum, at tempus leo velit non augue.
                                    </div>

                                    <hr>

                                    <div>
                                        <img src="assets/images/woman.jpg" class="img-circle"> Jane Doe
                                    </div>
                                    <div class="card-text">
                                        Quisque venenatis velit ut nisi tincidunt venenatis. Aliquam placerat, dolor at
                                        pulvinar placerat, velit ligula iaculis dolor, quis sagittis nisi nisl sed
                                        nulla. Sed vulputate, libero vel pulvinar pretium, mauris felis laoreet arcu,
                                        sit amet laoreet nisl ante non purus. Pellentesque cursus, libero quis elementum
                                        aliquam, elit enim tempus ipsum, at tempus leo velit non augue.
                                    </div>

                                    <hr>

                                    <div>
                                        <img src="assets/images/man.jpg" class="img-circle"> John Doe
                                    </div>
                                    <div class="card-text">
                                        Quisque venenatis velit ut nisi tincidunt venenatis. Aliquam placerat, dolor at
                                        pulvinar placerat, velit ligula iaculis dolor, quis sagittis nisi nisl sed
                                        nulla. Sed vulputate, libero vel pulvinar pretium, mauris felis laoreet arcu,
                                        sit amet laoreet nisl ante non purus. Pellentesque cursus, libero quis elementum
                                        aliquam, elit enim tempus ipsum, at tempus leo velit non augue.
                                    </div>

                                    <hr>

                                    <div>
                                        <img src="assets/images/woman.jpg" class="img-circle"> Jane Doe
                                    </div>
                                    <div class="card-text">
                                        Quisque venenatis velit ut nisi tincidunt venenatis. Aliquam placerat, dolor at
                                        pulvinar placerat, velit ligula iaculis dolor, quis sagittis nisi nisl sed
                                        nulla. Sed vulputate, libero vel pulvinar pretium, mauris felis laoreet arcu,
                                        sit amet laoreet nisl ante non purus. Pellentesque cursus, libero quis elementum
                                        aliquam, elit enim tempus ipsum, at tempus leo velit non augue.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-1"></div>
                <div class="col-3 popular">
                    <h2>Popular Recipes</h2>

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <a href="recipes_details.html">
                                    <img src="assets/images/image5.jpg" class="img-responsive" alt="Card image cap">
                                    <p>Lorem ipsum dolor sit amet</p>
                                    <p class="card-text">Maecenas libero tortor, ultricies eu faucibus eu, sollicitudin
                                        quis elit.
                                        Quisque tincidunt volutpat.</p>
                                    <p class="card-text">
                                        <i class="fa fa-thumbs-o-up"></i> <span>34k</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <a href="recipes_details.html">
                                    <img src="assets/images/image6.jpg" class="img-responsive" alt="Card image cap">
                                    <p>Lorem ipsum dolor sit amet</p>
                                    <p class="card-text">Maecenas libero tortor, ultricies eu faucibus eu, sollicitudin
                                        quis elit.
                                        Quisque tincidunt volutpat.</p>
                                    <p class="card-text">
                                        <i class="fa fa-thumbs-o-up"></i> <span>34k</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <a href="recipes_details.html">
                                    <img src="assets/images/image4.jpg" class="img-responsive" alt="Card image cap">
                                    <p>Lorem ipsum dolor sit amet</p>
                                    <p class="card-text">Maecenas libero tortor, ultricies eu faucibus eu, sollicitudin
                                        quis elit.
                                        Quisque tincidunt volutpat.</p>
                                    <p class="card-text">
                                        <i class="fa fa-thumbs-o-up"></i> <span>34k</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <a href="recipes_details.html">
                                    <img src="assets/images/image2.jpg" class="img-responsive" alt="Card image cap">
                                    <p>Lorem ipsum dolor sit amet</p>
                                    <p class="card-text">Maecenas libero tortor, ultricies eu faucibus eu, sollicitudin
                                        quis elit.
                                        Quisque tincidunt volutpat.</p>
                                    <p class="card-text">
                                        <i class="fa fa-thumbs-o-up"></i> <span>34k</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</main><!-- /.container -->

<footer class="text-muted">
    <div class="container">
        <p align="center">LifeandJoy Applications</p>
    </div>
</footer>

<script src="assets/javascripts/jquery-3.2.1.min.js"></script>
<script src="assets/javascripts/popper.min.js"></script>
<script src="assets/javascripts/bootstrap.min.js"></script>
<script src="assets/javascripts/scripts.js"></script>
</body>
</html>